@import url('https://fonts.cdnfonts.com/css/gilam');

@import url('https://fonts.cdnfonts.com/css/circe');


.container-body {
	max-width: 1460px;
	margin: 0 auto;
	background-color: rgb(177, 245, 245);
	font-family: 'Gilam', sans-serif;

}

.page-body {
	display: flex;
	height: auto;
	background-color: #171717;
	justify-content: center;
}

.Logo {
	display: flex;
	width: 100%;
	height: 50px;
	justify-content: space-between;
	padding-left: 50px;
	padding-right: 47px;
	margin: 47px;
}

.Logo1 {
	height: 33px;
	width: 216px;
}

.Logo2 {
	color: #E4B564;
	text-decoration: none;
	font-size: 0;
	padding: 18px 41px 38px 27px;
	font-family: 'Circe', sans-serif;
	border: 1px solid #E4B564;
}

.Logo2>span {
	font-size: 20px;
}

.Logo2-img {
	width: 14px;
	margin-right: 7px;
	margin-left: 10px;
}

.page-body1 {
	font-family: 'Gilam', sans-serif;
	background-color: #171717;
	color: rgba(255, 255, 255, 1);
	font-size: 50px;
	padding-left: 90px;
	padding-bottom: 41px;
	padding-top: 80px;
}

.text {
	padding-right: 100px;
	font-size: 20px;
	padding-top: 41px;
}


.container {
	font-family: 'Gilam', sans-serif;
	height: auto;
	display: grid;
	grid-template-rows: repeat(5, 175px);
	grid-template-columns: repeat(6, 1fr);
	justify-content: center;
	grid-auto-rows: 468px;
	background-color: #171717;
	grid-column-gap: 34px;
	grid-row-gap: 34px;
	padding-left: 90px;
	padding-right: 90px;
}


.numbar {
	box-sizing: border-box;
	display: grid;
	justify-items: center;
	align-items: center;
	text-align: center;
}

.excavation {
	background-color: rgba(99, 79, 44, 1);
	grid-area: 1/ 1/ 3/ 3;
	font-size: 24px;
	color: rgba(255, 255, 255, 1);
}

.pipeline {
	background: rgba(180, 163, 133, 1);
	grid-area: 1/ 3/ 3/ 5;
	font-size: 24px;
	color: rgba(255, 255, 255, 1);
	padding-left: 10px;
	padding-right: 10px;
}

.channel-arrangement {
	background: rgba(228, 181, 100, 1);
	grid-area: 1/ 5/ 3/ 7;
	font-size: 24px;
	color: rgba(255, 255, 255, 1);
}


.supports {
	background-color: rgba(99, 90, 74, 1);
	grid-area: 3/ 1/ 5/ 4;
	font-size: 24px;
	color: rgba(255, 255, 255, 1);
}


.well {
	background-color: rgba(176, 140, 77, 1);
	grid-area: 3/ 4/ 5/ 7;
	font-size: 24px;
	color: rgba(255, 255, 255, 1);
}

.container-park {
	font-family: 'Gilam', sans-serif;
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: repeat(8, 92px);
	background-color: #171717;
	justify-content: center;
	padding-left: 90px;
	padding-right: 90px;
	grid-column-gap: 34px;
	grid-row-gap: 34px;
	padding-bottom: 100px;
}

.КАМАZ-65115 {
	background-color: rgba(14, 14, 14, 1);
	grid-area: 1/ 1/ 4/ 3;
	font-size: 25px;
	color: rgba(255, 255, 255, 1);
	justify-items: start;
	align-items: start;
	padding: 44px 143px 0 37px;
	text-align: left;
}

.КАМАZ-3572 {
	background-color: rgba(36, 36, 36, 1);
	grid-area: 1/ 3/ 5/ 5;
	font-size: 25px;
	color: rgba(255, 255, 255, 1);
	justify-items: start;
	align-items: start;
	padding: 44px;
	text-align: left;
}


.backhoe-loader {
	background-color: rgba(31, 31, 31, 1);
	grid-area: 1/ 5/ 3/ 7;
	font-size: 25px;
	color: rgba(255, 255, 255, 1);
	justify-items: start;
	align-items: start;
	padding-left: 52px;
	padding-top: 50px;
}

.loader {
	background-color: rgba(31, 31, 31, 1);
	grid-area: 4/ 1/ 9/ 3;
	font-size: 25px;
	color: rgba(255, 255, 255, 1);
	justify-items: start;
	align-items: start;
	padding-left: 52px;
	padding-top: 50px;
}

.backhoe {
	background-color: rgba(228, 181, 100, 1);
	grid-area: 5/ 3/ 9/ 5;
	font-size: 25px;
	color: black;
	justify-items: start;
	align-items: start;
	padding-left: 52px;
	padding-top: 50px;
}

.KAMAZ {
	background-color: rgba(14, 14, 14, 1);
	grid-area: 3/ 5/ 7/ 7;
	font-size: 25px;
	color: rgba(255, 255, 255, 1);
	justify-items: start;
	align-items: start;
	padding-left: 52px;
	padding-top: 50px;
}

.skating-rink {
	background-color: rgba(10, 9, 9, 1);
	grid-area: 7/ 5/ 9/ 7;
	font-size: 25px;
	color: rgba(255, 255, 255, 1);
	justify-items: start;
	align-items: start;
	padding-left: 52px;
	padding-top: 50px;
}


.page-body2 {
	display: flex;
	height: auto;
	background-color: #0E0E0E;
	color: rgba(255, 255, 255, 1);
	font-size: 50px;
	padding-left: 90px;
	padding-bottom: 94px;
	padding-top: 100px;
}

.button-page-body2 {
	margin-left: 522px;
	font-size: 20px;
	text-decoration: none;
	font-family: 'Circe', sans-serif;
	border: 1px solid #E4B564;
	color: #E4B564;
	padding: 17px 32px 15px 28px;
}

.container2 {
	font-family: 'Gilam', sans-serif;
	height: auto;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 415px);
	background-color: #0E0E0E;
	justify-content: center;
	padding-left: 90px;
	padding-right: 90px;
}

.select_eidblock {
	background-color: rgba(99, 79, 44, 1);
}

.select_mavis-block {
	background-color: rgba(232, 210, 171, 0.76);
}

.select_arsenal {
	background-color: rgba(228, 181, 100, 1);
}

.select_ars {
	background-color: rgba(99, 90, 74, 1);
}

.select_setgroup {
	background-color: rgba(176, 140, 77, 1);
}

.select_eideuro {
	background-color: rgba(99, 79, 44, 1);
}

.images-flex {
	display: flex;
	flex-direction: column;
}

.images-eid {
	width: 62px;
	padding-left: 140px;
}

.images-mavis {
	width: 180px;
	padding-left: 70px;
}

.images-flex-text {
	width: 320px;
	padding-left: 10px;
}

.footer {
	width: 100%;
	height: 239px;
	background-color: #171717;
}